#app {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url(images/bg.jpeg);
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  --themeColor: #303b2f;
}
#app .show {
  display: block;
}
#app .hidden {
  display: none;
}
@keyframes running {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#app .playr {
  border-radius: 10px;
  width: 800px;
  height: 600px;
  border: 1px solid var(--themeColor);
}
#app .playr .playr-top {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: var(--themeColor);
  padding: 5px;
}
#app .playr .playr-top .left {
  color: white;
  font-weight: 300;
}
#app .playr .playr-top .right {
  display: flex;
  position: relative;
  margin: 0 20px;
}
#app .playr .playr-top .right input {
  width: 300px;
  height: 30px;
  border: 0;
  border-radius: 20px;
  text-indent: 15px;
}
#app .playr .playr-top .right section {
  position: absolute;
  right: 10px;
  top: 5px;
}
#app .playr .playr-top .right section img {
  height: 80%;
  width: 80%;
}
#app .playr .playr-middle {
  height: 480px;
  width: 800px;
  display: flex;
  border-bottom: 1px solid var var(--themeColor);
}
#app .playr .playr-middle .left {
  height: 100%;
  width: 200px;
  border-right: 1px dashed var(--themeColor);
  overflow-x: hidden;
  overflow-y: scroll;
}
#app .playr .playr-middle .left .music-content-list .music-content-list-itme {
  height: 40px;
  display: flex;
  align-items: center;
}
#app .playr .playr-middle .left .music-content-list .music-content-list-itme .item-audio {
  width: 25px;
  height: 25px;
  background: url(images/table.png) -18px -18px;
}
#app .playr .playr-middle .left .music-content-list .music-content-list-itme .item-name {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  width: 145px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#app .playr .playr-middle .left .music-content-list .music-content-list-itme .item-mv {
  width: 30px;
  height: 20px;
  background: url(images/table.png) left -45px;
}
#app .playr .playr-middle .left .music-content-list .music-content-list-itme:nth-child(odd) {
  background-color: rgba(224, 217, 217, 0.5);
}
#app .playr .playr-middle .middle {
  height: 100%;
  width: 400px;
  border-right: 1px dashed var(--themeColor);
  position: relative;
}
#app .playr .playr-middle .middle .playing {
  transform: rotate(0) !important;
}
#app .playr .playr-middle .middle .player-bar {
  left: 200px;
  position: absolute;
  z-index: 8;
  transform: rotate(-25deg);
  transform-origin: 12px 12px;
  transform: all 2s;
}
#app .playr .playr-middle .middle .cover {
  top: 156px;
  left: 156px;
  position: absolute;
  width: 150px;
  height: 150px;
}
#app .playr .playr-middle .middle .autorotate {
  animation-name: running;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#app .playr .playr-middle .middle .disc {
  position: absolute;
  left: 100px;
  top: 100px;
}
#app .playr .playr-middle .right {
  width: 200px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#app .playr .playr-middle .right .app-comments-list .app-comments-list-item {
  padding: 5px;
  display: flex;
}
#app .playr .playr-middle .right .app-comments-list .app-comments-list-item .item-left {
  padding: 5px;
}
#app .playr .playr-middle .right .app-comments-list .app-comments-list-item .item-left img {
  width: 30px;
  border-radius: 50%;
  height: 30px;
}
#app .playr .playr-middle .right .app-comments-list .app-comments-list-item .item-right .nickname {
  font-size: 16px;
}
#app .playr .playr-middle .right .app-comments-list .app-comments-list-item .item-right .content {
  font-size: 12px;
  color: white;
}
#app .playr .footer {
  height: 60px;
  width: 800px;
  background-color: #fff;
}
#app .playr .footer audio {
  height: 100%;
  width: 100%;
}
#app .playr .footer .app-vedio-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#app .playr .footer .app-vedio-box .app-mask {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
#app .playr .footer .app-vedio-box .app-vedio-close {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
}
#app .playr .footer .app-vedio-box video {
  z-index: 999;
  background-color: #fff;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
}
#app .loading {
  position: fixed;
  height: 100vh;
  width: 100xw;
  z-index: 2000;
}
#app .loading img {
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 3000;
  width: 300px;
  height: 200px;
  left: 50%;
  top: 50%;
}
