<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        [v-cloak] {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app">
        <div class="playr">
            <!-- 搜索栏开始 -->
            <div class="playr-top">
                <section class="left">抛抛音乐盒</section>
                <section class="right">
                    <input type="text" v-model = "keywords" @keyup.enter="searchSongs">
                    <section>
                        <img src="./images/zoom.png" alt="">
                    </section>
                </section>
            </div>
            <!-- 搜索栏结束 -->
            <!-- 中间音乐盒内容开始 -->
            <div class="playr-middle">
                <div class="left">
                    <div class="music-content-list">
                        <div class="music-content-list-itme"
                        v-for="song,index in songs">
                            <div class="item-audio" @click="playAudio(song.id)"></div>
                            <div class="item-name">{{song.name}}</div>
                            <div :class="['item-mv',{hidden:song.mvid==0}]" @click="playMV(song.mvid)"></div>
                        </div>
                    </div>
                </div>
                <div class="middle">
                        <img src="./images/player_bar.png" alt="" :class='["player-bar",{
                            playing:isAudioPlaying
                        }]'>
                        <img :src="coverUrl==''? './images/cover.png':coverUrl" alt="" class="cover">
                        <img src="./images/disc.png" alt="" :class="['disc',{
                            autorotate:isAudioPlaying
                        }]">
                </div>
                <div class="right">
                    <h4>热门留言</h4>
                    <div class="app-comments-list">
                        <div class="app-comments-list-item" v-for="comment,index in hotComments" :key="index">
                            <div class="item-left">
                                <img :src="comment.user.avatarUrl" alt="">
                            </div>
                            <div class="item-right">
                                <div class="nickname">{{comment.user.nickname}}</div>
                                <div class="content">{{comment.content}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 中间音乐盒内容结束 -->
            <!-- 底部播放器开始 -->
            <!-- controls  规定浏览器应该为视频提供播放控件 -->
            <!-- loop 循环播放 -->
            <!-- autoplay 自动播放 -->
            <div class="footer">
                <audio :src="musicUrl" @pause="audioPause" ref="audio"
                controls
                autoplay
                loop></audio>
                 <!-- 视频播放的开始 -->
                <div :class="['app-vedio-box',{hidden:!isVedioPlaying}]">
                    <div class="app-mask"></div>
                    <div class="app-vedio-close" @click="closeMV">X</div>
                    <video :src="vedioUrl" ref="vedio"
                    controls
                    autoplay
                    loop></video>
                </div>
            </div>
            <!-- 底部播放器结束 -->
        </div>
        <div :class="['loading',{hidden:!isLoading}]">
            <img src="./images/loading.gif" alt="">
        </div>
    </div>
</body>
<!-- 1. 引入依赖库 -->
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/axios/dist/axios.js"></script>
<script src="./js/common.js"></script>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            songs: [],  // 歌曲列表
            keywords: "热门",  //默认搜索热门歌曲
            musicUrl: "",   //音频播放地址
            vedioUrl: "",   // vedio播放地址
            coverUrl: "",   //封面的图片地址
            isVedioPlaying: false,  // mv播放的标志
            isAudioPlaying:false,  // 歌曲播放的标志
            hotComments: [], //热门评论
            isLoading:true
        },
        methods: {
            // 搜索歌曲
            searchSongs:function(){
                // 如果搜索的歌曲为空 不允许搜索
                if(!this.keywords.trim() ){
                    alert("关键词不能为空")
                }
                Axios.get("/search",{
                    params:{
                        keywords: this.keywords
                    }
                }).then((res)=>{
                    this.songs = res.result.songs;
                })
            },
            // 音频停止播放
            audioPause:function(){
                this.isAudioPlaying = false;
            },
            // 播放歌曲
            playAudio:function(id){
                this.isAudioPlaying = true;
                // 获取歌曲地址
                Axios.get("/song/url",{
                    params:{
                        id: id
                    }
                }).then((res)=>{
                    // console.log(res.data[0].url) 
                    this.musicUrl = res.data[0].url
                })
                // 获取歌曲详情
                Axios.get("song/detail",{
                    params:{
                        ids: id
                    }
                }).then((res)=>{
                    // console.log(res)
                    this.coverUrl = res.songs[0].al.picUrl;
                })
                // 获取歌曲的热门评论
                Axios.get("comment/hot?type=0",{
                    params:{
                        id:id
                    }
                }).then((res)=>{
                    this.hotComments = res.hotComments;

                })
            },
            // 播放mv
            playMV:function(id){
                this.$refs.audio.pause(); // 停止音频播放
                this.isAudioPlaying = false;
                this.isVedioPlaying = true  // MV 正在播放中
                Axios.get("mv/url",{
                    params:{
                        id:id
                    }
                }).then((res)=>{
                    this.vedioUrl = res.data.url
                })

            },
             // 关闭 MV
            closeMV:function(){
                this.isVedioPlaying = false;
                // 取消播放
                this.$refs.vedio.pause();
            },
        },
        // 挂载到 dom上的时候
        mounted(){
            Axios.get("/search",{
                params:{
                    keywords: this.keywords
                }
            }).then((res)=>{
                this.songs = res.result.songs;
                let id = this.songs[0].id;
                // this.isAudioPlaying = true;

                Axios.get("/song/url",{
                    params:{
                        id: id
                    }
                }).then((res)=>{
                    // console.log(res.data[0].url) 
                    this.musicUrl = res.data[0].url
                })
                Axios.get("song/detail",{
                    params:{
                        ids: id
                    }
                }).then((res)=>{
                    // console.log(res)
                    this.coverUrl = res.songs[0].al.picUrl;
                })
                Axios.get("comment/hot?type=0",{
                    params:{
                        id:id
                    }
                }).then((res)=>{
                    // console.log(res)
                    this.hotComments = res.hotComments;

                })
            })
        },
    })
</script>
</html>